# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Django
*.sqlite3

# Environment variables
.env
.env.*

# Node
frontend/node_modules/

# Build files
frontend/dist/
frontend/build/

# VS Code
.vscode/


# Local database
backend/db.sqlite3

# Uploaded media
backend/media/